/* body */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    margin: auto;
    font-size: 12px;
    font-family: Inter;
}
h1, h2 {
    margin: auto;
    text-align: center;
    font-size: xx-large;
}
hr {
    margin: auto;
}

/* Styling */

.container {
    display: flex;
    justify-content: space-between;
    margin: 0px 4%;
}
hr.short-edge {
    border: 2px solid lightgrey;
    width: 8vw;
    border-radius: 4px;
}

/* Header */
header.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 4%;
}
header.nav-header > div.logo {
    display: flex;
}
header.nav-header > div.logo > div.home-icon {
    background-image: url(/assets/logo-icon.svg);
    background-position: center;
    background-size: cover;
    width: 4vw;
    height: 4vw;
    margin-right: 1vw;
}
header.nav-header > div > span {
    align-content: center;
    font-size: x-large;
    cursor: default;
}
header.nav-header > nav {
    display: flex;
}
header.nav-header > nav > a {
    text-decoration: none;
    border: 0.8px solid;
    padding: 8px 16px;
    color: black ;
}
header.nav-header > nav > a:hover {
    background-color: blue;
}


/* Main */
main {
    
}
main > section {
    margin-bottom: 4vw;
}

/* Main -> Section Home */
section#home {
    display: flex;
    flex-direction: column;
}
section#home > h1.title {
    padding-top: 8vw;
    font-size: xxx-large;
    padding-bottom: 4vw;
}
section#home > p.description {
    font-size: medium;
    text-align: center;
    margin: 0vw 4%;
}
section#home > div.container {
    padding: 4vw 0vw 1vw;
    height: fit-content;
}
section#home > div.container > div.banner {
    width: 100%;
    margin-right: 4vw;
}
section#home > div.container > div.banner > div.banner-image {
    background-image: url(https://picsum.photos/800);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 72%;
    margin-bottom: 2vw;
    border-radius: 0.6vw;
}
section#home > div.container > div.banner > div.testimoni-container {
    display: flex;
    flex-direction: column;
    margin: 0vw 4vw;
}
section#home > div.container > div.banner > div.testimoni-container > div.testimoni-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 1vw;
}
section#home > div.container > div.banner > div.testimoni-container > div.testimoni-content > p.review {
    font-size: larger;
    font-weight: 300;
    font-style: italic;
}
section#home > div.container > div.banner > div.testimoni-container > div.testimoni-content > div.reviewer {
    display: flex;
    align-items: center;
    margin-bottom: 1vw;
}
section#home > div.container > div.banner > div.testimoni-container > div.testimoni-content > div.reviewer > div.picture {
    background-image: url(https://xsgames.co/randomusers/assets/avatars/female/63.jpg);
    background-position: center;
    background-size: cover;
    height: 4.8vw;
    width: 4.8vw;
    border-radius: 50%;
    margin-right: 2vw;
}
section#home > div.container > div.banner > div.testimoni-container > div.testimoni-content > div.reviewer > div.information {
    display: flex;
    flex-direction: column;
}
section#home > div.container > div.banner > div.testimoni-container > div.testimoni-content > div.reviewer > div.information > span.name {
    font-size: larger;
    font-weight: bolder;
    margin-bottom: 0.4vw;
}
section#home > div.container > div.banner > div.testimoni-container > div.testimoni-content > div.reviewer > div.information > span.job {
    font-weight: 300;
    font-style: italic;
}
/* Main -> Section Home -> Container -> Aside */
section#home > div.container > aside {
    background-color: whitesmoke;
    padding: 4%;
    height: fit-content;
    border-radius: 0.6vw;
}
section#home > div.container > aside > h4 {
    text-align: left;
    font-size: medium;
}

/* Main -> Section Home -> Container -> Aside -> Form */
section#home > div.container > aside > form {

}
section#home > div.container > aside > form > label {
    font-weight: bolder;
}
section > div.container > aside > form > input {
    margin: 1vw 0vw;
    padding: 1vw;
    width: -webkit-fill-available;
}
section > div.container > aside > form > input[type="submit" i] {
    border: 0px;
    background-color: darkslategrey;
    font-weight: bolder;
    color: white;
    cursor: pointer;
}
section#home > div.container > aside > form > select {
    padding: 1vw;
    margin: 1vw 0vw;
    width: -webkit-fill-available;
    cursor: pointer;
    appearance: none;
    background-color: white;
    background: url(https://upload.wikimedia.org/wikipedia/commons/9/9a/Caret_down_font_awesome.svg) 98% /8% no-repeat; 
}
section#home > div.container > aside > form > select#interest {
    background-color: white;
}

/* Main -> Section Home -> Article */
section#home > article {
    padding: 0vw 4vw;
    display: flex;
    width: 52%;
    flex-direction: column;
}
section#home > article > p {
    font-size: larger;
    font-weight: normal;
}
section#home > article > div.feature-list {
    display: flex;
    margin-top: 1vw;
    margin-bottom: 1vw;
}
section#home > article > div.feature-list > div {
    display: flex;
    font-size: medium;
    font-weight: bold;
    border-radius: 50%;
    color: darkslategrey;
    padding: 1vw 1.8vw;
    background-color: whitesmoke;
    margin-right: 2vw;
}
section#home > article > div.feature-list > span {
    align-items: center;
    display: flex;
}

/* --------------------------------------------------------------------------------------------------- */
/* Main -> Section Our Package */
section#our-package {
    width: auto;
}

section#our-package > article > div.container {
    display: flex;
    flex-direction: row;
    justify-content: normal;
}

/* Main -> Section Our Package -> Header */
section#our-package > header.our-package-header {
    background-color: whitesmoke;
    padding: 8vw 0vw;
}

/*  */
section#our-package > article > div.container {
    padding: 6vw 0vw;
}
section#our-package > article > div.container > div.container-item {
    display: flex;
    flex-direction: row;
}
section#our-package > article > div.container > div.container-item > div.point-icon {
    background-color: black;
    border-radius: 50%;
    width: 4vw;
    height: 4vw;
    margin-right: 2vw;
}

/* Main -> Section Our Package -> Article -> Container -> Point Content */
section#our-package > article > div.container > div.container-item > div.point-content {
    display: flex;
    flex-direction: column;
    width: 50%;
}
section#our-package > article > div.container > div.container-item > div.point-content > h3.content-title {
    font-size: medium;
    margin: 1vw 0vw;
}

/* Main -> Section Call Us */
section#call-us > header {
    margin: 8% 0% 4%;
}
section#call-us > article {
    margin: 0% 4%;
    text-align: center;
}
section#call-us > article > p {
    margin-bottom: 4vw;
    font-size: medium;
}
section#call-us > article > button[type="submit"] {
    border: 0px;
    background-color: darkslategrey;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    margin: 1vw 0vw;
    padding: 2vw 4vw;
}